header{
  width: 100%;
  max-width: 100%;
  /* overflow-y: hidden;
  overflow-x: auto; */
  background: #722E2C;
  background: linear-gradient(0deg,rgba(114, 46, 44, 1) 0%, rgba(168, 34, 38, 1) 100%);
  padding: 0px 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-height: 50px;
  column-gap: 8px;
  position: fixed;
  top: 0; left: 0;
  z-index: 2;

  border-bottom-style: solid;
  border-bottom-color: #452828e3;
  border-bottom-width: 3px;

  .icono-seccion{
    width: 35px;
  }
  .nombre-pagina{
    color: white;
    flex-shrink: 0;
    padding-right: 1rem;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
  }
  .lista-paginas{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-self: stretch;
    /* column-gap: 5px; */

    a{
      color: white;
      display: flex;
      list-style: none;
      border-right-width: 1px;
      border-right-color: #41110f85;
      flex-grow: 1;
      text-align: center;
      height: var(--altoMin);
      transition: background-color .3s;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        background-color: #c76e6f2a;
        color: whitesmoke;
      }

      &:last-child{
        border-right-width: 0;
      }
    }
  }
}