#seccion-jugadores{
  display: flex;
  align-items: center;
  max-width: 100vw;
  overflow: auto clip;
  flex-direction: row;
  column-gap: .75rem;
  padding: .5rem .7rem .5rem 1rem;
}

.icono-info{
  width: 25px;
}

.seccion-jugadores{
    display: flex;
    flex-direction: column;
    color: black;
}

@media (width >= 48rem) {
  #seccion-jugadores{
    max-height: calc(100vh - 220px);
    overflow: clip auto;
    flex-direction: column;
    padding: .5rem .9rem 1.2rem 1.2rem;
    gap: .5rem;
  }

  .elemento-jugador{
    width: 100%;
    max-width: 500px;
    width: 95%;
    max-width: unset;
    &.seleccionado{
        transform: scale(1.05);
    }
  }
}
.elemento-jugador{
    background-color: #e4e2d8;
    border-radius: 10px;
    border: 2px solid black;
    width: 95%;
    flex-shrink: 0;
    max-width: unset;
    transition: transform .3s;
    position: relative;

    &.seleccionado{
        transform: scale(1.03);
    }
    &:not(.seleccionado){
        filter: grayscale(.3) sepia(.2);
    }

    &.inactivo{
        filter: contrast(.8) grayscale(1);
    }

    &:after{
        --tamano: 20px;
        content: '';
        opacity: 0;
        display: block;
        width: var(--tamano);
        height: var(--tamano);
        background: red;
        position: absolute;
        left: -2%;
        top: 50%;
        outline: 2px solid;
        border-radius: 0px 20px 20px 0;
    }

    &.seleccionado:after{
        opacity: 1;
    }

    .carga-cop{
        --porcentajeCarga: 50%;
        max-width: 100%;
        height: 20px;
        background-color: #b7b7b7;
        border-radius: 5px;
        overflow: hidden;
        outline: black 1px solid;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .separador{
            height: 100%;
            width: 1px;
            background-color: black;
            z-index: 9999;
        }

        &:after{
            position: absolute;
            left: 0%; top: 0%;
            content: '';
            background-color: #ffdb00;
            display: block;
            transition: width .25s;
            width: var(--porcentajeCarga);
            height: 100%;
        }
    }

    .letra-equipo{
        font-size: 30px;
        font-family: fantasy;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        filter: drop-shadow(0px 0px 3px black);
    }
}

.personaje-img{
    width: 50px;
    height: auto;
}

.jugador-info{

}
.dato{
  border: 1px solid rgba(68, 68, 68, 0.533);
  /* border: 1px solid rgba(68, 68, 68, 0.533); */

  &>p, &>p{
    border-left: 1px solid rgba(68, 68, 68, 0.533);
    border-right: 1px solid rgba(68, 68, 68, 0.533);
  }
}