@import "tailwindcss";

*{
	border-style: solid;
	border-width: 0;
  box-sizing: border-box;
}

/* p,h1,h2,h3,h4,h5,h6{
    margin: 0;
} */

:root{
    font-size: 16px;
}

html{
  background: #f2f7e5;
  background-image: radial-gradient(#f74444 0.5px, #f2f7e5 .8px);
  background-size: 10px 10px;
}

body {
  background-color: unset;
  margin: 0;
  margin-top: 50px;
  max-width: unset !important;
  padding: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  padding: 10px;
}

img{
  max-width: 100%;
}


.seccion-jugadores{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: black;
}
.elemento-jugador{
    background-color: #e4e2d8;
    border-radius: 10px;
    border: 2px solid black;
    width: 350px;
    max-width: 100%;
    transition: transform .3s;
    position: relative;

    &.inactivo{
        filter: contrast(.8) grayscale(1);
    }

    &.seleccionado{
        transform: scale(1.04);
    }

    &:after{
        content: '';
        opacity: 0;
        display: block;
        width: 15px;
        height: 15px;
        background: red;
        position: absolute;
        left: -2%;
        top: 50%;
        outline: 2px solid;
        border-radius: 0px 20px 20px 0;
    }

    &.seleccionado:after{
        opacity: 1;
    }

    .carga-cop{
        --porcentajeCarga: 50%;
        max-width: 100%;
        height: 20px;
        background-color: #b7b7b7;
        margin: 10px 0px;
        border-radius: 5px;
        overflow: hidden;
        outline: black 1px solid;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .separador{
            height: 100%;
            width: 1px;
            background-color: black;
            z-index: 9999;
        }

        &:after{
            position: absolute;
            left: 0%; top: 0%;
            content: '';
            background-color: #ffdb00;
            display: block;
            transition: width .25s;
            width: var(--porcentajeCarga);
            height: 100%;
        }
    }

    .letra-equipo{
        font-size: 30px;
        font-family: fantasy;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        filter: drop-shadow(0px 0px 3px black);
    }
}

.personaje-img{
    width: 50px;
    height: auto;
}

.boton-duda{
  --tamano: 40px;
  width: var(--tamano);
  height: var(--tamano);
  background-color: orange;
  border-radius: 8px;
  border: rgba(73, 59, 42, 0.671) solid 2px;
  cursor: pointer;
}