@import "tailwindcss";

*{
	border-style: solid;
	border-width: 0;
  box-sizing: border-box;
}

/* p,h1,h2,h3,h4,h5,h6{
    margin: 0;
} */

:root{
    font-size: 16px;
}

html{
  background: #f2f7e5;
  background-image: radial-gradient(#f74444 0.5px, #f2f7e5 .8px);
  background-size: 10px 10px;
}

body {
  background-color: unset;
  margin: 0;
  margin-top: 50px;
  max-width: unset !important;
  padding: 0;
  overflow-x: hidden;
}

/* width and height */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  padding: 10px;
}

img{
  max-width: 100%;
}

.boton-duda{
  --tamano: 40px;
  width: var(--tamano);
  height: var(--tamano);
  background-color: orange;
  border-radius: 8px;
  border: rgba(73, 59, 42, 0.671) solid 2px;
  cursor: pointer;
}

:where(input,button,select)[disabled]{
  cursor: not-allowed;
  opacity: .9;
  background-color: lightgrey;
}

.hidden{
  display: none;
}

form{
  max-width: 900px;
}

.icon{
  width: 16px;
  height: auto;
}

#casilla-info{
  --gapSize: 7px;
  width: 100%;
  max-width: 500px;
  gap: 0;

  .info-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gapSize);
  }
}

.konvajs-content{
  margin: auto;
}